In [3]:
import pandas as pd
import numpy as np

csv_file = "../Jup folder/simple_table_csv.csv"
xlsx_file = "../Jup folder/simple_table.xlsx"

In [5]:
df_csv = pd.read_csv(csv_file)
df_xlsx = pd.read_excel(xlsx_file, sheetname='Sheet1')

In [15]:
df=df_xlsx
df

   name born_in degree  year
0   Joe      US     ms  2016
1  Jeff  Canada     bs  2017
2  Adam   China    phd  2012
3   Sam    Iran     bs  2010

In [17]:
rels=['born_in','degree','year','last_name','job_title']

In [21]:
for item in df.columns:
    if item in rels:
        print(item)

born_in
degree
year