In [1]:
import csv,os
import pickle,re,sys
import numpy as np
import pandas
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from make_bow import make_baseline_feature_table
from make_bow import make_extended_ap_spreadsheet
from classify import just_dec_tree

from make_bow import rm_months_func
from make_bow import rm_yrs_func
from make_bow import rm_numbers_func

In [2]:
def csv_to_df(csv_fp):
    """Load csv as dataframe with pandas. Make sure that
    data types are getting loaded correctly. Can add
    column names & types to dtype.
    """
    df = pandas.read_csv(csv_fp, dtype={'Account': np.float64})
    df = df[df['Account'].notnull()]
    return df

In [8]:
accruals_csv = '../marritt_data/all-filtered_cleaned.csv'
ap_csv = "../marritt_data/2016 AP Query .xls"
merged_csv = '../marritt_data/merged.csv'

df_accruals = csv_to_df(accruals_csv)
len_rows_accruals = df_accruals.shape[0]  # 2445
df_accruals['accurals_index_col'] = df_accruals.index
df_ap = df = pandas.read_excel(ap_csv, sheetname='sheet1')

In [9]:
df_ap

,Period,Oper Unit,Dept,Account,Descr,Amount,Name,Descr.1,Vendor,Invoice,Invoice Date,Unit,Voucher Creation Date,Voucher,Journal Date,Jrnl Line #,Quantity
0,4,47A02,410,652503,AHLA Annual Dues,450.00,MARRIOTT HOTELS SERVICES,AH&LA Annual Assessment,0000429500,3770003763,2016-03-31,47A02,2016-04-02,1936,2016-04-08,41,0.0
1,5,47A02,480,217197,Accrued Real Estate Taxes,61921.88,THE MIAMI BEACH EDITION HOTEL,RE Taxes Reimburshment,0000672326,FLMIAMIDADECOUNTY,2016-05-20,47A02,2016-05-20,2140,2016-05-20,3,0.0
2,11,47A02,480,217197,Accrued Real Estate Taxes,410243.33,MIAMI DADE COUNTY TAX COLLECTOR,02-3226-001-1090,0000054563,47A02REPAY16,2016-11-14,47A02,2016-11-14,3131,2016-11-18,3,0.0
3,12,47A02,480,217197,Accrued Real Estate Taxes,414516.70,MIAMI DADE COUNTY TAX COLLECTOR,02-3226-001-1090,0000054563,47A02PROPTAX2016,2016-12-09,47A02,2016-12-09,3317,2016-12-09,2,0.0
4,12,47A02,480,217197,Accrued Real Estate Taxes,-410243.33,MIAMI DADE COUNTY TAX COLLECTOR,02-3226-001-1090,0000054563,47A02REPAY16,2016-11-14,47A02,2016-12-16,3131,2016-12-16,2,0.0
5,3,47A02,410,652401,Agency Fee-Recruiting,46.70,GENERAL INFORMATION SERVICES INC,drug tests,0000682870,2015111973,2015-11-30,47A02,2016-03-21,1797,2016-03-25,31,0.0
6,3,47A02,410,652401,Agency Fee-Recruiting,88.80,GENERAL INFORMATION SERVICES INC,drug tests,0000682870,201512954,2015-12-31,47A02,2016-03-21,1798,2016-03-25,31,0.0
7,3,47A02,410,652401,Agency Fee-Recruiting,46.70,GENERAL INFORMATION SERVICES INC,drug tests,0000682870,2016011987,2016-01-31,47A02,2016-03-21,1800,2016-03-25,31,0.0
8,3,47A02,410,652401,Agency Fee-Recruiting,85.50,GENERAL INFORMATION SERVICES INC,drug tests,0000682870,2016022084,2016-02-29,47A02,2016-03-21,1799,2016-03-25,31,0.0
9,8,47A02,410,652401,Agency Fee-Recruiting,70.05,GENERAL INFORMATION SERVICES INC,NaN,0000682870,2016072131,2016-07-31,47A02,2016-08-15,2601,2016-08-19,28,0.0
10,12,47A02,410,652401,Agency Fee-Recruiting,93.40,GENERAL INFORMATION SERVICES INC,NaN,0000682870,2016102200,2016-10-31,47A02,2016-12-31,3507,2016-12-31,17,0.0
11,1,311MX,410,691001,Bank Charges,35.00,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,01082015,2015-01-08,311MX,2016-01-14,29546,2016-01-15,28,0.0
12,6,311MX,410,691001,Bank Charges,750.52,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,06172016,2016-06-17,311MX,2016-06-24,30376,2016-06-24,22,0.0
13,6,311MX,410,691001,Bank Charges,-750.52,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,06172016,2016-06-17,311MX,2016-06-30,30376,2016-06-30,33,0.0
14,6,311MX,410,691001,Bank Charges,750.52,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,06172016,2016-06-17,311MX,2016-06-30,30376,2016-06-30,33,0.0
15,11,311MX,410,691001,Bank Charges,35.00,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,11042016,2016-11-04,311MX,2016-11-22,31067,2016-11-25,45,0.0
16,12,311MX,410,691001,Bank Charges,35.59,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,11182016,2016-11-18,311MX,2016-12-05,31229,2016-12-09,21,0.0
17,12,311MX,410,691001,Bank Charges,36.21,COURTYARD NASHVILLE DOWNTOWN,NaN,MI000311MX,12092016,2016-12-09,311MX,2016-12-28,31260,2016-12-30,24,0.0
18,1,47A02,410,691001,Bank Charges,249.17,AC MIAMI BEACH,Fintech Fees,MI00047A02,011601,2016-01-29,47A02,2016-01-29,1521,2016-01-29,30,0.0
19,3,47A02,410,691001,Bank Charges,125.57,AC MIAMI BEACH,Liquor,MI00047A02,02162,2016-02-29,47A02,2016-03-23,1825,2016-03-25,33,0.0
20,4,47A02,410,691001,Bank Charges,233.46,AC MIAMI BEACH,NaN,MI00047A02,04161,2016-04-20,47A02,2016-04-20,1996,2016-04-22,29,0.0
21,6,47A02,410,691001,Bank Charges,271.72,AC MIAMI BEACH,Fintech Fees,MI00047A02,0620161,2016-06-29,47A02,2016-06-29,2415,2016-06-30,43,0.0
22,7,47A02,410,691001,Bank Charges,388.28,AC MIAMI BEACH,NaN,MI00047A02,072016,2016-07-20,47A02,2016-07-23,2485,2016-07-29,32,0.0
23,12,47A02,410,691001,Bank Charges,312.21,AC MIAMI BEACH,fintech fees,MI00047A02,12132016,2016-12-13,47A02,2016-12-13,3319,2016-12-16,9,0.0
24,1,311M7,410,691001,Bank Charges,40.00,COURTYARD BY MARRIOTT,Fintech Fees,0000009516,01292016,2016-01-29,311M7,2016-01-29,18535,2016-01-29,577,0.0
25,2,311M7,410,691001,Bank Charges,40.00,COURTYARD BY MARRIOTT,NaN,0000009516,02292016,2016-02-29,311M7,2016-02-29,18692,2016-02-29,250,0.0
26,3,311M7,410,691001,Bank Charges,40.00,COURTYARD BY MARRIOTT,Fintech Fees,0000009516,03172016,2016-03-17,311M7,2016-03-17,18775,2016-03-18,497,0.0
27,1,311MX,210,424017,Beer Cost,478.92,COURTYARD NASHVILLE DOWNTOWN,Fintech Funding Account,MI000311MX,01082015,2015-01-08,311MX,2016-01-14,29546,2016-01-15,7,0.0
28,1,311MX,210,424017,Beer Cost,473.08,COURTYARD NASHVILLE DOWNTOWN,Fintech Funding Account,MI000311MX,12302015,2015-12-30,311MX,2016-01-05,29515,2016-01-08,8,0.0
29,2,311MX,210,424017,Beer Cost,494.21,COURTYARD NASHVILLE DOWNTOWN,Fintech Funding Account,MI000311MX,01292016,2016-02-01,311MX,2016-02-03,29659,2016-02-05,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36229,12,47A02,410,652403,Recruiting - Other,250.00,MARRIOTT HOTELS SERVICES,Cancelled Requisition-Hourly,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,26,0.0
36230,12,47A02,410,652403,Recruiting - Other,9.71,MARRIOTT HOTELS SERVICES,Global Univ Relations - Voyage,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,26,0.0
36231,12,47A02,410,652403,Recruiting - Other,-9.71,MARRIOTT HOTELS SERVICES,Global Univ Relations - Voyage,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,26,0.0
36232,12,47A02,410,652403,Recruiting - Other,6.82,MARRIOTT HOTELS SERVICES,Global Univ Relations - Voyage,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,26,0.0
36233,2,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003524,2016-01-31,47A02,2016-02-02,1545,2016-02-05,51,0.0
36234,2,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003524,2016-01-31,47A02,2016-02-02,1545,2016-02-05,51,0.0
36235,2,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003441,2015-12-31,47A02,2016-02-04,1364,2016-02-05,51,0.0
36236,2,47A02,410,652406,Recruiting Programs,14.16,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003441,2015-12-31,47A02,2016-02-04,1364,2016-02-05,51,0.0
36237,3,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003648,2016-02-29,47A02,2016-03-02,1762,2016-03-04,31,0.0
36238,3,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003648,2016-02-29,47A02,2016-03-02,1762,2016-03-04,31,0.0
36239,4,47A02,410,652406,Recruiting Programs,23.50,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003763,2016-03-31,47A02,2016-04-02,1936,2016-04-08,40,0.0
36240,4,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003763,2016-03-31,47A02,2016-04-02,1936,2016-04-08,40,0.0
36241,5,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003862,2016-04-30,47A02,2016-05-02,2100,2016-05-06,34,0.0
36242,5,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003862,2016-04-30,47A02,2016-05-02,2100,2016-05-06,34,0.0
36243,6,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770003955,2016-05-31,47A02,2016-06-02,2255,2016-06-03,30,0.0
36244,6,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770003955,2016-05-31,47A02,2016-06-02,2255,2016-06-03,30,0.0
36245,7,47A02,410,652406,Recruiting Programs,22.56,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004080,2016-06-30,47A02,2016-07-02,2434,2016-07-08,46,0.0
36246,7,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004080,2016-06-30,47A02,2016-07-02,2434,2016-07-08,46,0.0
36247,8,47A02,410,652406,Recruiting Programs,19.74,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004174,2016-07-31,47A02,2016-08-02,2564,2016-08-05,35,0.0
36248,8,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004174,2016-07-31,47A02,2016-08-02,2564,2016-08-05,35,0.0
36249,9,47A02,410,652406,Recruiting Programs,10.86,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004276,2016-08-31,47A02,2016-09-02,2773,2016-09-02,28,0.0
36250,9,47A02,410,652406,Recruiting Programs,19.74,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004276,2016-08-31,47A02,2016-09-02,2773,2016-09-02,28,0.0
36251,10,47A02,410,652406,Recruiting Programs,16.92,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004373,2016-09-30,47A02,2016-10-02,2900,2016-10-07,34,0.0
36252,10,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004373,2016-09-30,47A02,2016-10-02,2900,2016-10-07,34,0.0
36253,11,47A02,410,652406,Recruiting Programs,18.80,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004481,2016-10-31,47A02,2016-11-02,3120,2016-11-04,31,0.0
36254,11,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004481,2016-10-31,47A02,2016-11-02,3120,2016-11-04,31,0.0
36255,12,47A02,410,652406,Recruiting Programs,20.68,MARRIOTT HOTELS SERVICES,Global Hourly Selection,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,27,0.0
36256,12,47A02,410,652406,Recruiting Programs,14.48,MARRIOTT HOTELS SERVICES,Global Mgmt Selection Program,0000429500,3770004590,2016-11-30,47A02,2016-12-02,3309,2016-12-02,27,0.0
36257,9,47A02,410,616129,Brand Std Audit Cost,-1311.00,MARRIOTT HOTELS SERVICES,Brand Standard Audits,0000429500,3770004276,2016-08-31,47A02,2016-09-02,2773,2016-09-02,21,0.0
36258,9,47A02,410,616129,Brand Std Audit Cost,-1311.00,MARRIOTT HOTELS SERVICES,Brand Standard Audits,0000429500,3770004276,2016-08-31,47A02,2016-09-02,2773,2016-09-02,21,0.0

In [10]:
df_merged = pandas.merge(df_accruals, df_ap,
                         left_on=['OperUnit', 'DeptID', 'Account'],
                         right_on=['Oper Unit', 'Dept', 'Account'])

print('before',df_merged.shape)
df_merged.drop_duplicates(['Name'], keep=False)
print('afterr',df_merged.shape)

df_merged

before (441412, 27)
afterr (441412, 27)

,BU,OperUnit,DeptID,Account,Account#2,Source,JournalID,Amount_x,LineDescr,Date,...,Descr.1,Vendor,Invoice,Invoice Date,Unit,Voucher Creation Date,Voucher,Journal Date,Jrnl Line #,Quantity
0,X0530,585YC,470,794201.0,Leisure Media,H82,4259783,17500.00,JanA Seaworld,42400,...,NaN,0000337973,82473299,2016-01-13,585YC,2016-02-04,12154,2016-02-05,96,0.0
1,X0530,585YC,470,794201.0,Leisure Media,H82,4259783,17500.00,JanA Seaworld,42400,...,NaN,0000085549,45330423,2015-10-31,196G7,2016-02-07,19546,2016-02-12,272,0.0
2,X0530,585YC,470,794201.0,Leisure Media,H82,4259783,-17500.00,JanA Seaworld,42401,...,NaN,0000337973,82473299,2016-01-13,585YC,2016-02-04,12154,2016-02-05,96,0.0
3,X0530,585YC,470,794201.0,Leisure Media,H82,4259783,-17500.00,JanA Seaworld,42401,...,NaN,0000085549,45330423,2015-10-31,196G7,2016-02-07,19546,2016-02-12,272,0.0
4,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000323996,27982838,2016-01-01,645BH,2016-01-12,14718,2016-01-15,25,0.0
5,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000323996,28109589,2016-02-01,645BH,2016-02-10,14810,2016-02-12,33,0.0
6,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000323996,28247877,2016-03-01,645BH,2016-03-07,14936,2016-03-11,31,0.0
7,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000690041,28662894,2016-06-01,645BH,2016-06-07,15269,2016-06-10,32,0.0
8,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000690041,28939367,2016-08-01,645BH,2016-08-16,15568,2016-08-19,13,0.0
9,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000690041,29082359,2016-09-01,645BH,2016-09-09,15648,2016-09-09,15,0.0
10,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000690041,29231667,2016-10-01,645BH,2016-10-26,15856,2016-10-28,31,0.0
11,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000690041,29503697,2016-12-21,645BH,2016-12-22,16096,2016-12-23,35,0.0
12,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28398147,2016-04-01,645BH,2016-04-08,15045,2016-04-08,15,0.0
13,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28398147,2016-04-01,645BH,2016-05-19,15045,2016-05-20,14,0.0
14,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28398147,2016-04-01,645BH,2016-05-19,15045,2016-05-20,14,0.0
15,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28528969,2016-05-01,645BH,2016-05-05,15151,2016-05-06,11,0.0
16,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28528969,2016-05-01,645BH,2016-05-19,15151,2016-05-20,14,0.0
17,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,NaN,0000053671,28528969,2016-05-01,645BH,2016-05-19,15151,2016-05-20,14,0.0
18,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000004682453185,2016-03-25,645BH,2016-03-29,15020,2016-03-31,19,0.0
19,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,SHRED-IT,0000003057,645BH000004761067417,2016-04-25,645BH,2016-04-27,15102,2016-04-29,31,0.0
20,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000004766522179,2016-04-25,645BH,2016-04-27,15107,2016-04-29,31,0.0
21,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000005073387299,2016-07-25,645BH,2016-07-26,15471,2016-07-29,35,0.0
22,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000005177738791,2016-08-25,645BH,2016-08-29,15607,2016-08-31,24,0.0
23,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COTG - A XEROX COMPANY,0000003057,645BH000005227781723,2016-09-25,645BH,2016-09-16,15675,2016-09-16,25,0.0
24,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000005300839267,2016-09-25,645BH,2016-09-28,15760,2016-09-30,29,0.0
25,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000005372219283,2016-10-25,645BH,2016-10-28,15881,2016-10-28,31,0.0
26,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000003057,645BH000005493589949,2016-11-25,645BH,2016-11-21,15994,2016-11-25,32,0.0
27,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COTG - A XEROX COMPANY,0000003057,645BH000005585156725,2016-12-25,645BH,2016-12-20,16087,2016-12-23,35,0.0
28,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000000002,645BH2029642646001P,2016-01-25,645BH,2016-01-23,14768,2016-01-23,20,0.0
29,X0160,645BH,480,740002.0,Lease Expense,HB1,5109374,21.06,AugA Xerox Company,42613,...,COINMACH CENTER OF EXCEL,0000000002,645BH2061260595001P,2016-02-25,645BH,2016-02-22,14899,2016-02-26,24,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441382,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,oversize parking AUG,0000029386,4650MC0916,2016-09-01,311QR,2016-09-22,47236,2016-09-23,64,0.0
441383,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029386,4650MC0616,2016-06-01,311QR,2016-10-10,47473,2016-10-14,72,0.0
441384,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029386,4650MC0716,2016-07-01,311QR,2016-10-10,47474,2016-10-14,72,0.0
441385,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029386,4650MC0816,2016-08-01,311QR,2016-10-10,47475,2016-10-14,72,0.0
441386,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,M4736,2016-01-15,311QR,2016-01-25,44723,2016-01-29,73,0.0
441387,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261512R1,2015-12-31,311QR,2016-01-29,44810,2016-01-29,73,0.0
441388,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261601,2016-01-31,311QR,2016-02-11,44879,2016-02-12,85,0.0
441389,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,M4822,2016-02-15,311QR,2016-02-24,45169,2016-02-26,80,0.0
441390,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261602,2016-02-29,311QR,2016-03-16,45344,2016-03-18,79,0.0
441391,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261602R1,2016-02-29,311QR,2016-03-16,45345,2016-03-18,79,0.0
441392,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,M4910,2016-03-15,311QR,2016-03-16,45349,2016-03-18,79,0.0
441393,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261603,2016-03-31,311QR,2016-04-07,45601,2016-04-08,35,0.0
441394,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,Mid Month May,0000029905,M4998,2016-04-15,311QR,2016-04-19,45664,2016-04-22,81,0.0
441395,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,04261604,2016-04-30,311QR,2016-05-19,46022,2016-05-20,68,0.0
441396,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,04261605,2016-05-31,311QR,2016-06-08,46198,2016-06-10,71,0.0
441397,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,T6554,2016-06-15,311QR,2016-06-20,46318,2016-06-24,60,0.0
441398,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,04261606,2016-06-30,311QR,2016-07-07,46531,2016-07-08,42,0.0
441399,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,T6356,2016-07-15,311QR,2016-07-21,46631,2016-07-22,71,0.0
441400,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,TP Fees for Services,0000029905,04261607,2016-07-31,311QR,2016-08-03,46827,2016-08-05,35,0.0
441401,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261608,2016-08-31,311QR,2016-09-23,47228,2016-09-23,64,0.0
441402,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,T6749,2016-07-16,311QR,2016-09-23,47233,2016-09-23,64,0.0
441403,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,T6942,2016-08-15,311QR,2016-09-23,47234,2016-09-23,64,0.0
441404,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261609,2016-09-30,311QR,2016-10-11,47472,2016-10-14,72,0.0
441405,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,T7342,2016-10-15,311QR,2016-10-20,47613,2016-10-21,72,0.0
441406,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,T7142,2016-09-15,311QR,2016-11-07,47818,2016-11-11,47,0.0
441407,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,MID MONTH CHARGE,0000029905,T7536,2016-11-15,311QR,2016-11-16,47875,2016-11-18,76,0.0
441408,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261611,2016-11-30,311QR,2016-12-14,48144,2016-12-16,80,0.0
441409,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,04261610,2016-10-31,311QR,2016-11-30,48109,2016-11-30,68,0.0
441410,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,NaN,0000029905,T7733,2016-12-15,311QR,2016-12-21,48214,2016-12-23,93,0.0
441411,X0192,311QR,70,350091.0,Guest Parking Trn,HB3,5476631,-20913.66,NovA Townepark,42705,...,1051 OFFICE,0000000002,311QR2028264332001P,2016-01-25,311QR,2016-01-14,44715,2016-01-15,72,0.0

In [11]:
series_concat = df_merged["LineDescr"].map(str) + ' ' + df_merged["Name"].map(str) + ' ' + df_merged["Descr.1"].fillna('').map(str)

In [12]:
df_marriott = pandas.read_csv(merged_csv, dtype={'Account': np.float64,'Invoice':object,'Descr.1':str,'Vendor':str})
df_marriott = df_marriott[df_marriott['Account'].notnull()]

In [13]:
list_text_column = df_marriott['NewLineDescr'].tolist()
list_text_column = [rm_months_func(_str) for _str in list_text_column]
list_text_column = [rm_yrs_func(_str) for _str in list_text_column]
list_text_column = [rm_numbers_func(_str) for _str in list_text_column]

In [14]:
print('Vectorizing')
vectorizer = TfidfVectorizer(analyzer='word',ngram_range=(1,3),lowercase=True)
print('Vectorizing0.5')
document_term_matrix = vectorizer.fit_transform(list_text_column)
document_term_matrix.toarray()

Vectorizing
Vectorizing0.5

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [15]:
X=document_term_matrix.toarray()
X
print(type(X))

<class 'numpy.ndarray'>

In [16]:
df = pandas.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],'C' : np.random.randn(8),'D' : np.random.randn(8)})

In [17]:
df

     A      B         C         D
0  foo    one -0.987312  0.855332
1  bar    one  0.612832  0.127490
2  foo    two  0.215854  0.850533
3  bar  three -1.970889 -0.057817
4  foo    two -0.121344  0.332437
5  bar    two -0.314124  0.850146
6  foo    one -1.636175  1.503579
7  foo  three -0.603774 -2.496918

In [18]:
df2=df.drop_duplicates({'A'}, keep='last')
df2

     A      B         C         D
5  bar    two -0.314124  0.850146
7  foo  three -0.603774 -2.496918